<!DOCTYPE html>
<html xmls:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>スケジュール検索</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <style>
    .container {
      margin: 0 auto;
      padding: 20px;
    }
  
  </style>
</head>
<body>
  <div th:replace="header :: header"></div>
  <div class="container">
    <div class="text-center"><h1>スケジュール検索</h1></div>

    <form th:action="@{/schedule/search}" method="post">
      <!-- パーク選択ラジオボタン -->
      <div class="form-group">
        <label style="font-size: 20px;">パーク選択</label>
        <div class="row">
        <div class="col-4">
          <input type="radio" id="parkDisneyLand" name="park" value="0" />
          <label for="parkDisneyLand">東京ディズニーランド</label>
        </div>
        <div class="col-4">
          <input type="radio" id="parkDisneySea" name="park" value="1" />
          <label for="parkDisneySea">東京ディズニーシー</label>
        </div>
        </div>
      </div>

      <!-- キーワードからあいまい検索 -->
      <div class="form-group">
        <label for="keyword" style="font-size: 20px;">キーワードから検索</label>
        <div>
          <div class="text-center">
            <input type="text" id="keyword" name="keyword" placeholder="キーワードを入力" style="width: 800px" />
            <button type="submit" class="btn btn-primary">検索！</button>
          </div>
        </div>
      </div>

      <!-- 利用シーン選択チェックボックス -->
		<div class="form-group">
  			<label for="scenes" style="font-size: 20px;">利用シーンから絞り込み</label>
  			<div class="scenes-row" th:each="scene : ${allScenes}" style="display: flex; flex-wrap: wrap;">
   			 <div class="scene-item" style="margin-right: 20px;">
     			 <input type="checkbox" id="scene" name="scenes" th:value="${scene.id}" th:checked="${scene.selected}" />
      			<label th:for="${'scene' + scene.id}" th:text="${scene.useSceneName}"></label>
    		</div>
  			</div>
		</div>


      <!-- 平日/休日選択ラジオボタン -->
      <div class="form-group">
        <label for="holiday" style="font-size: 20px;">平日/土日祝から絞り込み</label>
        <div class="row">
        	<div class="col-4">
	          <input type="radio" id="weekend" name="holiday" value="false" />平日
	        </div>
	        <div class="col-4">
    	      <input type="radio" id="holiday" name="holiday" value="true" />土日祝
    	    </div>
        </div>
      </div>

      <div>
        <button type="submit" class="btn btn-primary">検索！</button>
      </div>
    </form>
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js"></script>
</body>
</html>
