<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Spring Security Example </title>
    </head>
    <body>
        <div th:if="${param.error}">
            ログインに失敗しました。
        </div>
        <div th:if="${param.logout}">
            ログアウトされました。
        </div>
        <h1>ログイン</h1>
        <form th:action="@{/login}" method="post">
			<table class="table table-bordered col-md-6">
				<tr class="form-group">
					<th class="align-middle">メールアドレス</th>
					<td><input type="text" name="username"/></td>
				</tr>
				<tr class="form-group">	
		            <th class="align-middle">パスワード</th>
		            <td><input type="password" name="password"/></td>
				</tr>
				</table>
	            <div><input type="submit" value="ログイン"/></div>
        </form>
        <p>
			新規登録は<a href="http://localhost:8080/user/add">こちら</a>
		</p>
    </body>
</html>