<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>ユーザー新規登録</title>
<link href="@{/static/css/add.css}" rel="stylesheet"></link>
<meta charset="utf-8" />
</head>
<body>

<h1>ユーザー新規登録</h1>
<form th:action="@{/user/create}" th:object="${users}" method="post">
<table>
<tr>
<th class="cell_title">名前</th>
<th class="cell_required"></th>
<td><input type="text" th:field="*{name}" id="user_name" /></td>
</tr>
<tr>
<th class="cell_title">メールアドレス</th>
<th class="cell_required"></th>
<td><input type="text" th:field="*{email}" id="user_email"></td>
</tr>
<tr>
<th class="cell_title">パスワード</th>
<th class="cell_required"></th>
<td><input type="text" th:field="*{password}" id="user_password"></td>
</tr>
</table>
<div class="btn_area_center"><input type="submit" value="登録" class="btn"></div>
</form>
<p>
	すでにアカウントをお持ちの方は<a href="login.html">こちら</a>
</p>
</body>
</html>