<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>ユーザーページ</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<style>
		.container {
			text-align: center;
		}

		.edit-profile {
			text-align: right;
			margin-bottom: 10px;
			padding: 20px;
		}

		.schedule-wrapper {
			border: 1px solid #ccc;
			border-radius: 5px;
			padding: 10px;
			margin-bottom: 10px;
			cursor: pointer;
			transition: background-color 0.3s ease;
			width: 60%;
		}

		.schedule-wrapper:hover {
			background-color: #f0f0f0;
		}

		.text-start {
			text-align: start;
		}
	</style>
</head>
<body>
<div th:replace="header :: header"></div>
<div class="container">
	<div class="edit-profile" th:if="${isMypage}">
		<a href="/user/edit" class="btn btn-primary">プロフィール編集</a>
	</div>
	<h1>ユーザーページ</h1>
	<table th:object="${userData}" class="mx-auto">
		<tr>
			<th class="col-3 text-start">ユーザー名：</th>
			<td class="col-6 text-start" th:text="${userData[0]}"></td>
		</tr>
		<tr>
			<th class="col-3 text-start">年齢：</th>
			<td class="col-6 text-start" th:text="${userData[1]}"></td>
		</tr>
		<tr>
			<td class="col-3"></td>
			<td class="col-6 text-start" th:text="${userData[2]}"></td>
		</tr>
	</table>
	
	<div class="row">
		<div class="col-3"></div>
		<div style="padding-bottom: 5px;">
			<ul class="nav nav-tabs">
				<li class="nav-item"><a th:href="@{/user/userpage/{id}(id=${id})}" class="nav-link">投稿一覧</a></li>
				<li class="nav-item"><a class="nav-link active">ブックマーク一覧</a></li>
			</ul>
		</div>
	</div>

	<div class="mx-auto">
		<div th:each="scheduleList : ${schedulesView}">
			<div class="row">
				<div class="col-3"></div>
				<div class="schedule-wrapper" th:onclick="|location.href='http://localhost:8080/schedule/__${scheduleList[5]}__'|">
					<div class="row">
						<div class="col-1"></div>
						<div class="col-2 text-start"><strong>ユーザー名</strong></div>
						<div class="col-1 text-right"><strong>:</strong></div>
						<div class="col-8 text-start"><span th:text="${scheduleList[0]}"></span></div>
					</div>
					<div class="row">
						<div class="col-1"></div>
						<div class="col-2 text-start"><strong>パーク</strong></div>
						<div class="col-1 text-right"><strong>:</strong></div>
						<div class="col-8 text-start"><span th:text="${scheduleList[1]}"></span></div>
					</div>
					<div class="row">
						<div class="col-1"></div>
						<div class="col-2 text-start"><strong>来園日</strong></div>
						<div class="col-1 text-right"><strong>:</strong></div>
						<div class="col-8 text-start"><span th:text="${scheduleList[2]}"></span></div>
					</div>
					<div class="row">
						<div class="col-1"></div>
						<div class="col-2 text-start"><strong>利用シーン</strong></div>
						<div class="col-1 text-right"><strong>:</strong></div>
						<div class="col-8 text-start"><span th:text="${scheduleList[3]}"></span></div>
					</div>
					<div class="row">
						<div class="col-1"></div>
						<div class="col-2 text-start"><strong>ブクマ数</strong></div>
						<div class="col-1 text-right"><strong>:</strong></div>
						<div class="col-8 text-start"><span th:text="${scheduleList[4]}"></span></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js"></script>
</body>
</html>
