<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}">
<title>ユーザーぺージ</title>
</head>
<body>
<h1>ユーザーページ</h1>
<table th:object="${userData}">
	<tr>
		<th>ユーザー名：</th>
		<th th:text="${userData[0]}"></th>
	</tr>
	<tr>
		<th>年齢：</th>
		<th th:text="${userData[1]}"></th>
	</tr>
	<tr>
		<td th:text="${userData[2]}"></td>
	</tr>
	<tr>
		
	</tr>
</table>
<table th:each="scheduleList : ${schedulesView}" class="align-middle">
	        <tr>
	        	<th>ユーザー名</th>
	        	<th>:</th>
	        	<td th:text="${scheduleList[0]}"></td>
			</tr>
	        <tr>
	        	<th>パーク</th>
	        	<th>:</th>
	        	<td th:text="${scheduleList[1]}"></td>
			</tr>
			<tr>
	        	<th>来園日</th>
	        	<th>:</th>
	        	
	        	<td th:text="${scheduleList[2]}"></td>

			</tr>
			<tr>
	        	<th>利用シーン</th>
	        	<th>:</th>
	        	<td th:text="${scheduleList[3]}"></td>
			</tr>
			<tr>
	        	<th>ブクマ数</th>
	        	<th>:</th>
	        	<td th:text="${scheduleList[4]}"></td>
			</tr>
			<tr>
				<th></th>
			</tr>
			<tr>
				<th></th>
			</tr>
		</table>
</body>
</html>